a.nav-link {
    color: white;
}

a.nav-link:hover {
    color: gray;
}

ul.nav {
    background: rgb(189,54,38);
    background: radial-gradient(circle, rgba(189,54,38,1) 0%, rgba(0,0,0,1) 100%);
    margin-bottom: 50px;
}

.rounded-fluid {
    border-radius: 50% !important;
    border-style: groove;
    border: black;
}

div#introduction {
    text-align: center;
    flex: 1;
}

h2.subtitle {
   color: gray;
    font-size: 20px;
}

footer {
    margin-top: 50px;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer>div#copyright {
    background: rgb(189,54,38);
    background: radial-gradient(circle, rgba(189,54,38,1) 0%, rgba(0,0,0,1) 100%);
}