@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

.center {
    display: inline-block;
    justify-content: center;
    /*margin: 0 auto;*/
}

p {
    font-size: 20px;
    line-height: 26px;
}

h1 {
    font-size: 36px;
    line-height: 36px;
}

h2 {
    font-size: 32px;
    line-height: 32px;
}

.subtitle {
    font-size: 24px;
    line-height: 32px;
}